@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

#headerTitle {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3rem 0 2rem 0;
  font-size: 2rem;
  color: #012169;
}

.row {
  padding-bottom: 1rem;
}

.row label {
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: #012169;
}

.formButton {
  background-color: #012169;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 65%;
  height: 3rem;
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.5);
}

.importButton {
  /* background: rgb(246, 71, 112);
  background: linear-gradient(
    90deg,
    rgba(68, 93, 247)0%,
    rgba(246, 71, 112, 0.5) 100%
  ); */
  background-color: #012169;
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 80%;
  height: 3rem;
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}

.row button:hover {
  opacity: 0.8;
}

.select {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 1rem;
  transition: box-shadow 0.2s ease-in;
  color: rgb(47, 43, 43);
  background-color: white;
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.5);
}

#alternativeLogin {
  text-align: center;
  padding-top: 2rem;
  margin-top: 1.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 100%;
  padding-bottom: 1rem;
}

.buttonContainer {
  margin: 1rem 0 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontalRule {
  width: 90%;
  height: 0.3rem;
  border-radius: 0.8rem;
  border: none;
  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  background-color: #ebd0d0;
  margin: 0 0 1rem 1rem;
  backdrop-filter: blur(25px);
}

.tableContainer {
  padding: 0 50px;
  margin-bottom: 20;
}

.dropdownTitleFontPC{
  font-size: 15px !important;;
}

.dropdownitemFontPC{
  font-size: 10px !important;;
}

.dropdownTitleFontMobile{
  font-size: 15px !important;;
}

.dropdownitemFontMobile{
  font-size: 10px !important;;
}

.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}

.row-dragging td {
  padding: 16px;
}

.row-dragging .drag-visible {
  visibility: visible;
}


@media only screen and (max-width: 320px) {
  #headerTitle {
    font-size: 1rem;
  }

  .formButton {
    font-size: 0.7rem;
  }

  .importButton {
    font-size: 0.7rem;
  }

  .tableContainer {
    padding: 0 10px;
    margin-bottom: 20;
  }
}

@media only screen and (min-width: 360px) {
  #headerTitle {
    font-size: 1.3rem;
  }

  .formButton {
    font-size: 0.7rem;
  }

  .importButton {
    font-size: 0.7rem;
  }

  .tableContainer {
    padding: 0 10px;
    margin-bottom: 20;
  }
}

@media only screen and (min-width: 411px) {
  #headerTitle {
    font-size: 1.5rem;
  }

  .formButton {
    font-size: 0.8rem;
  }

  .tableContainer {
    padding: 0 10px;
    margin-bottom: 20;
  }
}

@media only screen and (min-width: 768px) {
  #headerTitle {
    font-size: 1.6rem;
  }

  .formButton {
    font-size: 0.85rem;
  }

  .tableContainer {
    padding: 0 10px;
    margin-bottom: 20;
  }
}

@media only screen and (min-width: 1024px) {
  #headerTitle {
    font-size: 1.8rem;
  }

  .formButton {
    font-size: 0.9rem;
  }

  .tableContainer {
    padding: 0 10px;
    margin-bottom: 20;
  }
}

@media only screen and (min-width: 1280px) {
  #headerTitle {
    font-size: 2rem;
  }

  .formButton {
    font-size: 1rem;
  }

  .tableContainer {
    padding: 0 10px;
    margin-bottom: 20;
  }
}