@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
<<<<<<< HEAD

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  background-color:#fff8e7;
}
h1 {
  color:orange;
  text-align:center;
}
p {
  font-family:"Times New Roman";
  font-size:20px;
}
.box {
  float: left;
  width: 300px;
  height: 300px;
  margin-left: 100px;
  position: relative; z-index:99999;
}
.slide {
  margin-left: 650px;
  width :400px;
  height: 400px;
  margin-top: 40px;
  /* text-align: center; */
=======
body{
  font-family: 'Raleway', sans-serif;
  background-image: url('./statics/background_image.jpeg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
>>>>>>> ea8e27e56220c04152cd27ccac49ff2b36962468
}
